language: php

sudo: true

php:
  - 7.2

env:
  matrix:
    - LARAVEL_VERSION=5.5.*
    - LARAVEL_VERSION=5.6.*
    - LARAVEL_VERSION=5.7.*
    - LARAVEL_VERSION=5.8.*
    - LARAVEL_VERSION=6.0.*

matrix:
  fast_finish: true

cache:
  directories:
    - $HOME/.composer/cache
    - node_modules

before_script:
  - travis_retry composer self-update
  - composer require "illuminate/support:${LARAVEL_VERSION}"
  - yarn install
  - yarn run dev
